/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;

  /* Adjust  */
  font-size: 1.2rem;

  background-color: #f8f8f8;
}

/* Ensure consistent form fonts */

main {
  display: flex;
  width: 100%;
}

/* Hero sidebar styling */
.hero-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 30vw;
  max-width: 45vw;
  height: 100vh;
  background-image: url("../assets/images/space-background.webp");
  background-size: cover;
  background-position: center;
  color: #fff;
  align-items: center;
  justify-content: space-between;
  box-shadow: 15px 0px 50px rgba(80, 80, 80, 0.3);
}

.hero-header-wrapper {
  display: flex;
  flex: 1;
  max-height: 10vh;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
  background-color: rgba(15, 15, 27, 0.35);
}

.hero-header {
  font-size: 2.5rem;
}

.hero-footer {
  text-align: center;
  color: #fff;
  width: 100%;
  background-color: rgba(15, 15, 27, 0.75);
  padding: 1rem;
}

/* Form sidebar styling */
.form-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 3rem;
  height: 100vh;
}

.form-header {
  flex: 0 0 auto;
}

.form-card {
  flex: 1;
}

.form-group {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 1rem;
  border: none;
  padding: 0;
  margin: 1rem 0;
}

.form-group-title {
  font-weight: bold;
  margin-bottom: 1rem;
  text-decoration: underline;
}

.form-control {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form-control label {
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
}

/* Form control validation styling */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  border: 2px solid rgb(80, 80, 80);
  border-radius: 10px;
  padding: 0.5rem 0.75rem;
  box-shadow: 0px 5px 15px rgba(80, 80, 80, 0.2);
}

input:focus {
  outline: none;
  border: 2px solid #22d3ee;
}

input:user-valid {
  border: 2px solid #5eff00;
}

input:user-invalid {
  border: 2px solid #ff4d4d;
}

/* Add required (*) to labels. */
.form-group label::after {
  content: " *";
  color: #ff4d4d;
  font-weight: bold;
}

/* Link styling */
a:link {
  color: #7dd3fc;
}

a:focus,
a:hover {
  text-decoration: none;
  color: #22d3ee;
}

a:visited {
  color: #c4b5fd;
}

a:active {
  color: #e0f2fe;
}
