/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;

  /* Adjust  */
  font-size: 1.2rem;
}

main {
  display: flex;
}

.hero-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 35vw;
  height: 100vh;
  /* padding: 2rem; */
  background-image: url("../assets/images/space-background.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  align-items: center;
  justify-content: space-between;
}

.hero-header-wrapper {
  display: flex;
  flex: 1;
  max-height: 10vh;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
  background-color: rgba(15, 15, 27, 0.35)
  
}

.hero-header {
  font-size: 2.5rem;
}

.hero-footer {
  text-align: center;
  color: #fff;
  width: 100%;
  background-color: rgba(15, 15, 27, 0.75);
  padding: 1rem;
}

a:link {
  color: #7dd3fc;
}

a:focus, a:hover {
  text-decoration: none;
  color: #22d3ee;
}

a:visited {
  color: #c4b5fd;
}

a:active {
  color: #e0f2fe;
}