/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;

  /* Adjust  */
  font-size: 1.2rem;
}

main {
  display: flex;
  width: 100%;
}

/* Hero sidebar styling */
.hero-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 20vw;
  max-width: 40vw;
  height: 100vh;
  /* padding: 2rem; */
  background-image: url("../assets/images/space-background.webp");
  background-size: cover;
  background-position: center;
  color: #fff;
  align-items: center;
  justify-content: space-between;
}

.hero-header-wrapper {
  display: flex;
  flex: 1;
  max-height: 10vh;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
  background-color: rgba(15, 15, 27, 0.35)
  
}

.hero-header {
  font-size: 2.5rem;
}

.hero-footer {
  text-align: center;
  color: #fff;
  width: 100%;
  background-color: rgba(15, 15, 27, 0.75);
  padding: 1rem;
}

/* Form sidebar styling */
.form-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 2rem;
  padding: 4rem;
  height: 100vh;
  max-width: 50vw;
}

.form-header {
  flex: 0 0 auto;
}

.form-card {
  flex: 1;
}

.form-group {
  display: flex;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
  gap: 2rem;
  border: none;
  padding: 0;
  margin: 1rem 0;
}

.form-group-title {
  margin-left: auto;
  font-weight: bold;
  margin-bottom: 1rem;
  text-decoration: underline;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}

.form-control label {
  font-size: 0.9rem;
}

/* Link styling */
a:link {
  color: #7dd3fc;
}

a:focus, a:hover {
  text-decoration: none;
  color: #22d3ee;
}

a:visited {
  color: #c4b5fd;
}

a:active {
  color: #e0f2fe;
}