/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
}

main {
  display: flex;
}

.hero-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 35vw;
  height: 100vh;
  /* padding: 2rem; */
  background-image: url("../assets/images/space-background.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  align-items: center;
  justify-content: space-between;
}

.hero-header-wrapper {
  display: flex;
  flex: 1;
  max-height: 10vh;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
  background-color: rgb(21, 23, 61, 0.50)
  
}

.hero-footer {
  margin: 0 2rem 1.5rem 2rem;
}